<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    <th:block th:each="msg: ${allCars}">
        <tr>
            <td th:text="${msg.getId()}"></td>
            <td th:text="${msg.getModel()}"></td>
            <td th:text="${msg.getColor()}"></td>

        </tr>
    </th:block>
</table>
</body>
</html>